<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="fragments :: head"/>
<link rel="stylesheet" href="/css/board.css" />
<style type="text/css">
	.content{
		width:80vw;
		position:relative;
		left:10vw;
		display: flex;
		flex-direction:column;
		justify-content: center;
	}
</style>
</head>
<body>
	<th:block th:replace="fragments :: flg_header"></th:block>
	<div class="content">
	    <h2 class="tit">* 게시판</h2>
	    <a th:href="@{/board/form}">게시글 쓰기</a>
  	    <table style="text-align: center" border="1">
	       <thead>
	           <tr>
	               <th style="width: 80%;"><span>제목</span></th>
	               <th style="width: 10%;"><span>작성자</span></th>
	               <th style="width: 10%;"><span>등록일</span></th>
	           </tr>
	       </thead>
	       <tbody>
	           <tr th:each="board,status: ${blist}">
	               <td><a th:href="@{/board/detail(bdIdx=${board.bdIdx})}">[[${board.title}]]</a></td>
	               <td th:text="${board.member}? ${board.member.userId}:guest">GUEST</td>
	               <td th:text="${board.regDate}"></td>
	           </tr>
	       </tbody>
	    </table>
	   <!-- pagination section -->
		<div th:replace="fragments :: paging"></div>	
	</div>
</body>
</html>