<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:with="var='ex) <i>내가 제일 좋아하는 언어 점수 : </i>'">
	<th:block th:insert="~{fragments/fragments :: header}"/>
	<h2>thymeleaf 학습</h2>
	
	<h3>1. 변수 선언하고 출력하기</h3>
	<pre>
	변수 선언 :  th:with
	변수 출력 : ${...}
	변수의 스코프는 html 태그의 범위를 따라간다. 상위 태그에서 선언한 변수는 모든 하위 태그가 공유하지만
	하위태그에서 선언한 변수를 상위태그에서 사용할 수는 없다.
	| | 를 사용해 thymeleaf 변수와 문자열 리터럴을 함께 사용 가능하다.
	</pre>
	<span th:text="|${var} 100|"></span>
	
	<hr>
	
	<h3>2. 인라인 표현식</h3>
	<pre>
	[ 두개를 연달아 작성해 html태그 없이도 표현이 가능하다.
	</pre>
	<span>[[|${var} 100|]](인라인표현식)</span>
	
	<hr>
			
	<h3>3. *{...} 선택 변수 표현식</h3>
	<pre>
	부모태그의 th:object에 지정된 객체를 기준으로 해당 객체의 속성에 접근
	th:utext : escape 처리를 하지 않고 해당 요소의 텍스트 값을 지정한다. 
	</pre>
	<span th:object="${score}" th:utext="${var} + *{java}"></span><br>
	<span>[(|${var} 100|)] (unescape 인라인표현식)</span>
	
	<hr>
	
	<h3>4. @{...} 링크 표현식</h3>
	<pre>
	context path를 작성하지 않더라도 자동으로 추가해준다.
	url뒤에 괄호를 작성해 파라미터를 추가할 수 있다. ex) @{https://www.naver.com(test=100,name=hmd)}	
	</pre>
	<a th:href="@{https://www.naver.com(test=100,name=hmd)}">네이버로 이동</a>
	
	<hr>
	
	<h3>5. ~{...}Fragment 표현식</h3>
	<pre>
	미리 만들어둔 fragment를 호출할 때 사용
	th:insert : 해당 태그의 본문에 fragment를 추가
	th:replace : 해당 태그를 fragment로 대체
	</pre>
	<!-- 개발자모드에서 확인 -->
	<div th:insert="~{fragments/fragments :: top}"></div>
	<div th:replace="~{fragments/fragments :: top}"></div>
	
	<hr>
	
	<h3>6. 조건문/반복문 사용</h3>
	<h4>* for문 사용해보기</h4>
	<div th:each="var, status : ${#numbers.sequence(1,3)}">
		[[${var}]] : 짝수?[[${status.even}]]  / 홀수? [[${status.odd}]]
	</div>
	
	<h4>* for-each 사용해보기</h4>
	<h4 th:attr="style=|color:${color}|">[[${session.user.userId}]]의 과목별 점수</h4>
	<ul>
		<li th:each="var,status : ${score.keySet()}" th:switch="${score.get(var)/10}">
			[[${status.count}]] 과목 [[${var}]] : [[${score.get(var)}]]
			<th:block th:case="${10}">(A++)</th:block>
			<th:block th:case="${9}">(A)</th:block>
			<th:block th:case="${8}">(B)</th:block>
			<th:block th:case="${7}">(C)</th:block>
			<th:block th:case="${6}">(D)</th:block>
		</li>
	</ul>	
	<span th:if="${score.average >= 60}">결과 : 합격</span>
	<span th:unless="${score.average >= 60}">결과 : 불합격</span>
	
	<hr>
	
	<h3>7. th:attr / th:attrappend / th:attrprepend</h3>
	<div style="background-color:yellow" th:attr="style='color:red'">th:attr</div>
	<div style="background-color:yellow" th:attrappend="style='; color:red'">th:attr</div>
	<div style="background-color:yellow" th:attrprepend="style='color:blue;'">th:attr</div>
	
	<th:block th:replace="~{fragments/fragments :: footer}"/>
	
</body>
</html>