<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:fragment="flg_head">
		<meta charset="UTF-8">
		<title>toy project</title>
		<script type="text/javascript" src="/js/common/asyncPageError.js"></script>
		<script type="text/javascript" src="/js/common/urlEncoder.js"></script>
		<style>
			a{
				text-decoration: none;	
				cursor:pointer;
			}
			
			/* header 영역 */
			.header-section{
				display:flex;
				justify-content:space-between;
				align-items:center;
				width:100%;
				height:5vh;
				background-color: white;
			}
			
			.header-section>*{
				display:flex;
				align-items:center;
				width:30%;
			}
			
			.wrap_user{
				width:15%;
				justify-content: space-around;
				font-size:1.5vw;
			}
		</style>
	</th:block>
</head>
<body>

<header class="header-section" th:fragment="flg_header">
		<div class="wrap_top-logo">
			<a class="top-logo-text" th:href="@{/}">PCLASS</a>
		</div>
		<div sec:authorize="!isAuthenticated()" class="wrap_user">
			<a class="top_user top_join" th:href="@{/member/login}">login</a>
			<a class="top_user" th:href="@{/member/join}">join</a>
		</div>
		<div sec:authorize="isAuthenticated()" class="wrap_user">
			<a class="top_user top_join" th:href="@{/member/logout}">logout</a>
			<a class="top_user" th:href="@{/member/mypage}">mypage</a>
		</div>
</header>

<script type="text/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
		let getCsrfHeader = () =>{
			let csrfHeader = "[(${_csrf.headerName})]";
			let csrfToken = "[(${_csrf.token})]";
	        let headerObj = new Headers();
	        headerObj.append(csrfHeader,csrfToken);
			return headerObj;
		}
</script>

</body>
</html>