<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:fragment="flg_head">
		<meta charset="UTF-8">
		<title>toy project</title>
		<script type="text/javascript" src="/js/common/asyncPageError.js"></script>
		<script type="text/javascript" src="/js/common/urlEncoder.js"></script>
		<style>
			a{
				text-decoration: none;	
				cursor:pointer;
			}
		</style>
		
		<script type="text/javascript" th:inline="javascript">
			window.onload = () => {
				let formList = document.querySelectorAll('form');
				let csrfTag = document.createElement('input');
				csrfTag.type='hidden';
				csrfTag.name= "[(${_csrf.headerName})]";
				csrfTag.value="[(${_csrf.token})]";
				
				if(formList.length){
					formList.forEach((e) =>{
						e.prependChild(csrfTag);
					})	
				}
			};
		</script>
	</th:block>
</head>
<body>

<script type="text/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
		let getCsrfHeader = () =>{
			let csrfHeader = "[(${_csrf.headerName})]";
			let csrfToken = "[(${_csrf.token})]";
	        let headerObj = new Headers();
	        headerObj.append(csrfHeader,csrfToken);
			return headerObj;
		}
</script>





</body>
</html>