<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="fragments :: flg_head"/>
</head>
<body>
	<th:block th:replace="fragments :: flg_header"></th:block>
	
	<div class="content">
		<th:block sec:authorize="!isAuthenticated()">
			<h2><a href="/member/join">회원가입</a></h2>
			<h2><a href="/member/login">로그인</a></h2>
		</th:block>
		<th:block sec:authorize="isAuthenticated()">
			<h2><a href="/member/mypage">마이페이지</a></h2>
			<form th:action="@{/member/logout}" method="post" id="logout">
				<h2><a onclick="logout.submit()">로그아웃</a></h2>
			</form>
		</th:block>
	</div>
	
	<th:block th:replace="fragments :: flg_footer"></th:block>
	
</body>
</html>